### Need this line in .bash_profile for mysqlclient to work
export DYLD_FALLBACK_LIBRARY_PATH=\$HOME/anaconda/lib/:$DYLD_FALLBACK_LIBRARY_PATH

In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Conncet
http://docs.sqlalchemy.org/en/latest/core/engines.html

In [2]:
user = 'root'
password = '^_^'
host = 'localhost'
database = 'coffee'

engine = create_engine(''.join(['mysql://', user, ':', password, '@', host, '/', database]))

# Read
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html

In [3]:
query = 'SELECT * FROM flavors;'
df = pd.read_sql(query, engine)
df

    name        date  score
0  apple  1983-01-05      7

# Write
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html

In [4]:
df.loc[df['name'] == 'apple', 'score'] = 77
df_to_add = pd.DataFrame({'name': ['banana', 'orange'], 
                          'date': ['2001-07-07', '1969-03-03'], 
                          'score': [99, 21]})
df_new = pd.concat([df, df_to_add])
df_new

         date    name  score
0  1983-01-05   apple     77
0  2001-07-07  banana     99
1  1969-03-03  orange     21

In [5]:
df_new.to_sql('new_flavors', engine, if_exists='replace', index=False)

In [6]:
# Check
query_ = 'SELECT * FROM new_flavors;'
df_ = pd.read_sql(query_, engine)
df_

         date    name  score
0  1983-01-05   apple     77
1  2001-07-07  banana     99
2  1969-03-03  orange     21